@charset "UTF-8";

body {
    width: 1000px;
    background-color: #A49881;
    margin: 0 auto;
}

.content-box {
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 3px rgba(33,33,33,0.8);
    padding-top: 50px;
    margin: 20px 0px;
}

/* 勤務表 */
#roster-period {
    font-size: 0.9em;
    margin: 0px;
}
#roster td:first-child {
    width: 200px !important;
}
#roster td {
    color: #372c5f;
    text-align: center;
    white-space: nowrap;
}
.roster-schedule {
    font-size: 3.0em;
}
.roster-schedule td {
    width: 100px !important;
    height: 100px !important;
}

/* 勤務表へのアノテーション */
.supplement-text {
    display: block;
    color: red;
    font-size: 0.5rem;
}
.other-location {
    display: block;
    font-size: 0.5rem;
    background: #eee;
}

/* ローディング画面 */
#loading {
    display: inline-block;
    padding: 50px 15px;
    opacity: 0.85;
    width: 250px;
    height: 150px;
}

#loading .loading-message {
    text-align: center;
    padding-top: 120px;
    background-image: url('images/gif-load.gif');
    background-position: center top;
    background-repeat: no-repeat;
    font-family: "メイリオ" !important;
}

.blue {
    color: #372c5f;
}
.red {
    color: red;
}
